<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztwl.mdata.mapper.UserMapper">
 
<!--     <resultMap id="BaseResultMap" type="com.ztwl.mdata.entiy.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
    </resultMap> -->
 
    <select id="getUserList" resultType="user">
        select * from student_user 
    </select>
 	
 	
 	 <select id="getUser" resultType="int">
        select count(1) from student_user where name=#{userName} and password=#{password} 
   	 </select>
</mapper>
