<?xml version="1.0" encoding="UTF-8"?>
<!-- Log4j 2.x 配置文件。每30秒自动检查和应用配置文件的更新； -->
<Configuration status="warn" monitorInterval="30" strict="true" schema="Log4J-V2.2.xsd">
    <properties>
        <property name="log_home">D://springboot_log/logs</property>
        <property name="service_name">massif-data-service</property>
    </properties>

    <Appenders>
        <!-- 输出到控制台 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 需要记录的级别 -->
            <!-- <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" /> -->
            <PatternLayout pattern="[${service_name}] %d{yyyy-MM-dd HH:mm:ss,SSS} %p %c.%M(%L) - %m%n" />
        </Console>

        <!-- 输出到文件，按天或者超过80MB分割 -->
        <RollingRandomAccessFile  name="RollingFile" fileName="${log_home}/${service_name}/${service_name}.log" filePattern="${log_home}/${service_name}/$${date:yyyy-MM}/${service_name}-%d{yyyy-MM-dd}-%i.log.gz">
            <!-- 需要记录的级别 -->
            <!-- <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" /> -->
            <PatternLayout pattern="[${service_name}] %d{yyyy-MM-dd HH:mm:ss,SSS} %p %c.%M(%L) - %m%n" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="80 MB" />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="error"> <!-- 全局配置 -->
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Root>
        <!-- 为sql语句配置特殊的Log级别，方便调试 -->
       <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="com.ztwl.mdata" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>
</Configuration>